.globalWrapper {
	margin: auto;
	width: 50%;
	height: 50%;
	text-align: center;
	margin-top: 20%;
}

#codeButton {
	margin: 1%;
	border-radius: 10px;
	
}

.rond, .square, .shape, .nain{
	margin-bottom: 1%;
}
.rond, .shape {
	margin-top: -15%;
}

.shape, .nain {
	width: 100%;
}

.nain {
	margin-top: -35%;
}

.final {
	width: 75%;
}
	

.blanc {
	color: white;
	position: fixed;
}

.reponse {
	margin-top: 4%; 
}

input {
	width: 25%;
	border-radius: 10px;
}
